body {
	font-family: monospace;

}
.container {
	background-color: #b6e9c1;
	width: 70%;
	margin: 200px auto;
	padding: 20px;
	border-radius: 20px;
	text-align: center;
}

#generateBtn {
	font-family: inherit;
	text-transform: uppercase;
	background-color: #37c4aa;
	padding: 10px;
	border: 2px solid #eefbeb;
	border-radius: 25px;
	color: #eefbeb;
	font-weight: bold;
}

#quote {
	text-align: justify;
	font-size: large;
	font-weight: lighter;
}

.author {
	text-align: right;
}