body {
	font-family: monospace;
}
.container {
	background-color: lightgray;
	width: 70%;
	margin: 200px auto;
	padding: 20px;
	border: 2px solid white;
	text-align: center;
}

.btn {
	font-family: inherit;
	width: 50%;
	margin: 30px;
	height: 40px;
	border: 2px solid black;
	border-radius: 10px;
	color: white;
	font-weight: bold;
	background-color: gray;

}

#quote {
	text-align: justify;
	font-size: large;
	font-weight: lighter;
}

.author {
	text-align: right;
}